<h1>ユーザ情報登録画面</h1>

<%= form_for(@users, url: user_info_path) do |user| %>

  <table>

  <tr>
    <th><%= user.label :user_id, "ID：" %></th>
    <th><%= user.text_field :user_id, id: :user_id  %></th>
  </tr>

  <tr>
    <th><%= user.label :user_name, "名前：" %></th>
    <th><%= user.text_field :user_name, id: :user_name  %></th>
  </tr>

  <tr>
    <th><%= user.label :user_passeord, "パスワード：" %></th>
    <th><%= user.password_field :user_password, id: :user_name  %></th>
  </tr>

  <tr>
    <th><%= user.label :user_adress, "住所：" %></th>
    <th><%= user.text_field :user_adress, id: :user_adress  %></th>
  </tr>

  <tr>
    <th><%= user.label :user_email, "メール：" %></th>
    <th><%= user.email_field :user_email, id: :user_email  %></th>
  </tr>


  </table>


  <%= user.submit "登録" %>
<% end %>

<p><a href = "/user/list">ユーザ一覧へ</a></p>
