<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class = "hedar_main">
      <!-- 共通部分の定義 -->
      <div>
        <p><a href = "/">Rails Sample</a><p>
        <p>
          <%= link_to("DBへ", "/tests/index") %>
        </p>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
