<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <!-- 共通部分の定義 -->
      <h1><a href = "/">Rails Sample</a><h1>
      <h1>
        <%= link_to("DBへ", "/tests/index") %>
      </h1>
    </header>

    <%= yield %>
  </body>
</html>
